<head>
  <title>日記アプリケーション</title>
</head>
<body>
  <% @posts.each do |post| %>
    <p>
      <a href=<%= "/posts/#{post['id']}" %>>
        <div>
          ID: <%= post['id'] %>
          Title: <%= post['title'] %>
          Body: <%= post['body'] %>
          UserId: <%= post['user_id'] %>
        </div>
      </a>
    </p>
  <% end %>
  <a href="/posts/new">新規作成</a>
  <a href="/users">ユーザ一覧</a>
</body>
