<head>
  <title>ID: <%= @result['id'] %>の日記</title>
</head>
<body>
  <p>ID: <%= @result['id'] %></p>
  <p>Title: <%= @result['title'] %></p>
  <p>Body: <%= @result['body'] %></p>
  <p>UserId: <%= @result['user_id'] %></p>
</body>
