<head>
  <title>ID: <%= @post['id'] %>の日記</title>
</head>
<body>
  <p>ID: <%= @post['id'] %></p>
  <p>Title: <%= @post['title'] %></p>
  <p>Body: <%= @post['body'] %></p>
  <p>UserId: <%= @post['user_id'] %></p>
</body>
